html {
  scroll-behavior: smooth;
}

img.gpy_corner {
  width: 100%;
  height: auto;
}

header .intro-text .name {
  font-family: 'Trebuchet MS', Helvetica, sans-serif;
  font-size: 15vmin
}

.form-inline {

    // Input groups need that 100% width though
    .input-group > .form-control {
      width: 100%;
    }
  }

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid blue;
  border-right: 16px solid green;
  border-bottom: 16px solid red;
  border-left: 16px solid pink;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 2vmin;
  left: 50%;
}

/* Set the size of the div element that contains the map */
.map {
height: 300px;  /* The height is 300 pixels */
width: 100%;  /* The width is the width of the web page */
}

#anchor {
    /* allow the final child to be selected as an anchor node */
    overflow-anchor: auto;

    /* anchor nodes are required to have non-zero area */
    height: 1px;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}